.postsContainer{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.innerPostsWrapper{
    flex: 1;
    flex-grow: 2;
}
.innerAside{
    flex: 1;
    
}
.innerDisplay{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) and (min-width: 350px)  {
    .innerAside{ display: none;}
    .postsContainer{ justify-content: center;}
    .container{ max-width: 0;}
}
