.handleClBtn{
    position: absolute;
    top: -35px;
    right: 0px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 100%;
    padding: 2px 5px;
    text-align: center;
}
.mainWrapper{
    border-radius: 10px;
}

.modalTitle{
    padding: 17px 58px;
    background-color: #EFFFF4;
    color: #008A45;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;

}
.SignupContainer{
    padding: 36px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.innerSignup h1{
    font-size: 24px;
    color: #000;
    font-weight: 700;
    margin-bottom: 24px;
}
.inutBox{
    display: flex;
}
.inputContainer{
    display: block;
    width: 100%;
}
.SignupContainer input{
    width: 100%;
    height: 50px;
    background-color: #F7F8FA;
    border: 1px solid #D9D9DB;
    padding-left: 12px;
    color: #8A8A8A;
    font-size: 15px;
    font-weight: 500;
    outline: none;
}

.SignupContainer input[type="submit"]{
    margin-top: 19px;
    background-color: #2F6CE5;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    color: #fff;
}
.socialSignup{
    margin-top: 35px;
}
.socialSignup button{
    width: 100%;
    margin-bottom: 8px;
    background-color: #fff;
    border: 1px solid #D9D9DB;
    padding: 11px 0;
    font-size: 14px;
    font-weight: 400;
}
.bannerSignup P{
    text-align: right;
    margin-bottom: 40px;
}
.bannerSignup p span{
    color: #2F6CE5;
}
.termsText{
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    font-weight: 400;
    margin-top: 50px;
}

@media only screen and (max-width: 768px) and (min-width: 350px)  {
    .bannerLogin{ display: none;}
    .SignupContainer{ grid-template-columns: repeat(1, 1fr);}
}